/* Colores: 
rgba(31,115,182,.8) - Botones 
rgba(3,169,244,.8) - Scrolll */

body {
    background-image: url("../img/fondo.jpeg");
    background-repeat: repeat;
}

.visualizador {
    height: calc(100vh - 42px);
}

.quarter {
    display: grid;
    grid-template-columns: 18% 1fr;
}

.panel_top {
    padding: 0;
    width: 100%;
    justify-content: center;
    height: 42px;
}

.rest-panel-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.btn-panel {
    padding: .5em;
    background-color: transparent;
    border: none;
    color: aliceblue;
    border-radius: .25em;
}
.btn-panel:active {
    padding: .5em;
    background-color: transparent;
    border: rgb(31,115,182);;
}

.panel-managers {
    height: calc(100vh - 42px);
    overflow: hidden;
}

#managers {
    overflow: auto;
    height: calc(100vh - 42px);
}

/* body::-webkit-scrollbar {
    width: 25px;
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    background: rgba(3,169,244,.8);
    box-shadow: inset 0 0 10px 10px rgba(3,169,244,.8);
    border-radius: 10px;
} */



*::-webkit-scrollbar {
    width: 9px;
    height: 8px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: rgba(3,169,244,.8);
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #00aa9a;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: transparent;
    visibility: hidden;
}

/* body::-webkit-scrollbar-thumb:hover { */
    /* box-shadow: 0px 0px 5px 1px black; */
    /* cursor: pointer;
} */

.btn-volver {
    z-index: 2;
    bottom: 10px;
    left: 5px;
    padding: .5em;
    background-color: rgba(31,115,182,.8);
    color: aliceblue;
    border-radius: .25em;
    opacity: 0.5;
}

.btn-volver:hover {
    transform: scale(1.4,1.4);
    background-color: rgb(31,115,182);
    opacity: 1;
}

.btn-volver:active {
    transform: scale(1.2,1.2);
}